<!-- Form Start -->
<%= form_with url: root_path, method: :get do |form| %>

  <div class="flex space-x-2">
    <!-- Input -->
    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-white-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-green-spotify sm:max-w-md">
      <%= form.select :genres, options_for_select(current_user.genres, []), { }, { multiple: true, data: { controller: "slim-genres" }, include_blank: false, class: "" } %>
    </div>
    <!-- Submit Button -->
    <div>
      <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md bg-green-spotify px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <%= heroicon "funnel", options: { class: "-ml-0.5 h-5 w-5" } %>
        Filter
      </button>
    </div>
  </div>
<% end %>
<!-- Form End -->