<h1 class='text-orange-600'><%= @test %></h1>

<p>test</p>

<br />
<br>

<p class='text-red-600 bg'>Username: <%= current_user.username %></p>

<div class="bg-black p-6 h-10 text-white" >Hello, World!</div>