<section>
  <div class='container mx-auto m-5 mt-10'>
    <h1 class='text-4xl font-bold text-green-400 text-center'>Spotify Library</h1>

    <div class="mt-8">
      <% if current_user %>
        <p><span class='font-bold mr-8'>Username:</span> <%= current_user.username %></p>
        <p><span class='font-bold mr-8'>Email:</span> <%= current_user.email %></p>
      <% end %>
    </div>

  </div>
</section>