<% if page.current? %>
  <span class="relative z-10 inline-flex items-center bg-green-spotify border border-white px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "relative inline-flex items-center px-4 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-green-spotify focus:z-20 focus:outline-offset-0" %>
<% end %>