<% unless current_page.first? %>
  <%= link_to url, rel: 'prev', remote: remote, class: "relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-green-spotify focus:z-20 focus:outline-offset-0 prev" do %>
    <span class="sr-only"><%= t('views.pagination.previous').html_safe %></span>
    <%= heroicon "chevron-double-left", options: { class: "h-5 w-5 text-white" } %>
  <% end %>
<% end %>